{% extends "base.html" %}

{% block title %}
  {% if subject %}
    {{ subject.title }} courses
  {% else %}
    All courses
  {% endif %}
{% endblock %}

{% block content %}
  <h1>
    {% if subject %}
    <i class="fas fa-check-square"></i> {{ subject.title }} courses
    {% else %}
    <i class="fas fa-check-square"></i> All courses
    {% endif %}
  </h1>
  <div class="contents">
    <h3>Subjects</h3>
    <ul id="modules">
      <li {% if not subject %}class="selected"{% endif %}>
        <a href="{% url "course_list" %}"">All</a>
      </li>
      {% for s in subjects %}
        <li {% if subject == s %}class="selected"{% endif %}>
          <a href="{% url "course_list_subject" s.slug %}">
            {{ s.title }}
            <br><span>{{ s.total_courses }} courses</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="module">
    {% for course in courses %}
      {% with subject=course.subject %}
      <div class="module" style="border:7px solid #898F9C; border-radius:5px; margin-bottom:10px;">
        <h1>
          <a href="{% url "course_detail" course.slug %}">
            <i class="fas fa-book"></i> {{ course.title }}
          </a>
        </h1>
        <p>
          <a href="{% url "course_list_subject" subject.slug %}"><i class="fas fa-link"></i> {{ subject }}</a>
        </p>
        <p><i class="fas fa-user-tie"></i> {{ course.owner.get_full_name }}</p>
        <p><i class="fas fa-book-reader"></i> {{ course.total_modules }} modules</p>
      </div>
        
      {% endwith %}
    {% endfor %}
  </div>

{% endblock %}